<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="?controller=User&action=login">
    <img alt="" src="public/images/logo.svg">	
</a>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" href="?controller=Trains&action=AfficherReservations">
        <i class="fas fa-clipboard"></i>
        <span>Vos réservations</span></a>
</li>

</ul>
<!-- End of Sidebar -->